/*Fonts:
font-family: 'Baloo', cursive;*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Baloo', cursive;
  background-color: papayawhip;
}

table {
  width: 660px;
  margin: 0 auto;
}

td{
  border: 5px solid papayawhip;
  padding: 50px;
  width: 220px;
  height: 220px;
  background-color: powderblue;
  border-radius: 5%;

}

h1 {
  margin: 0;
  font-size: 60px;
  color: lightpink;
  text-transform: uppercase;
}

h3 {
  display: inline;
  margin: 0 50px;
  font-size: 24px;
}

.restart {
  background-color: powderblue;
  border: 5px solid lavender;
  font-size: 18px;
  font-family: 'baloo', cursive;
  text-transform: uppercase;
}

.restart:hover,
td:hover{
  background-color: lavender;
  border-color: powderblue;
}

.o {
    background-repeat: no-repeat;
    background: url('images/dog.jpg');
    background-size: contain;
}

.x {
    background-repeat: no-repeat;
    background: url('images/cat.jpg');
    background-size: contain;
}
